body {
    margin: 0;
    overflow: hidden;
    text-align: center;
    flex: auto;
  }

  canvas {
    display: block;
    border: 1px solid black;
  }

  #juegoCanvas{
    border: 1px solid black;
    text-align: center;
    justify-content: center;
  }
  body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  button {
    margin-bottom: 20px;
  }

  canvas {
    border: 1px solid #000; /* Añade un borde al canvas para visualización */
    max-width: 100%;
    margin: 0 auto; /* Centra el canvas horizontalmente */
  }

  audio {
    width: 100%;
  }